.header{
    flex-direction: row;
    align-items: center;
    margin-right: 5.0px;
    min-width: 1567px;
}

.link_4{
    height: 73px;
    margin-left: 24px;
    position: relative;
    width: 262px;
}

.hr {
    height: 4px;
    background-color: $sixthColor;
    width: 1728px;
}

