.homeHero{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.homeHero_textContainer{
    width: 774px;
    height: 505px;
    flex-shrink: 0;
}

.homeHero_textContainer__img__title{
    width: 774px;
    height: 327px;
    flex-shrink: 0;
}

.sloganTop{
    color: $typoColor;
    /* H1 */
    font-family: $thirdFontFamily;
    font-size: $font-size-77px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 103.896% */
}

.sloganBottom{
    color: $accentColor;
    /* H1 */
    font-family: $thirdFontFamily;
    font-size: $font-size-77px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 103.896% */
}

.homeHero_textContainer__img__text{
    color: $typoColor;
    width: 509px;
    /* Paragraphe */
    font-family: $secondFontFamily;
    font-size: $font-size-m;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}

.homeHero_textContainer__buttonContainer{
    width: 595px;
    height: 72px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.homeHero_textContainer__buttonContainer__conversationContainer{
    display: inline-block;
    white-space: nowrap;
}

.conversation{
    display: inline-flex;
    height: 72px;
    padding: 9px 26px 9px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 42px 42px 42px 0px;
    background: $accentColor;
    width: 286px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    /*width: fit-content;*/
    color: $typoColorWhite;
    font-family: $fontPrincipalFamily;
    font-size: $font-size-m;
}

.configuration{
    display: inline-flex;
    height: 72px;
    padding: 9px 26px 9px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 42px 42px 42px 0px;
    border: 2px solid $accentColor;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /*white-space: nowrap;
    width: fit-content;*/
    color: $accentColor;
    font-family: $fontPrincipalFamily;
    font-size: $font-size-m;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.conversation:hover {
    /* Ajoute des styles pour le survol si nécessaire */
    color: $accentColor; /* Change la couleur du texte au survol */
    text-decoration: none;
    border: 2px solid $accentColor;
    background: none;
}

.homeHero_img{
    width: 794px;
    height: 530px;
    flex-shrink: 0;
    border-radius: 42px;
    overflow: hidden;
}

.homeHero_img img{
    max-width: 100%; /* L'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    display: block; /* Retire l'espace en dessous des images */
}