.sectionFunctionalitySeason__container{
    align-items: flex-start;
    background-color: $primaryColor;
    border: 2px solid;
    border-color: $accentColor;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-height: 663px;
    padding: 104px 111px;
    width: 1304px;
}

.sectionFunctionalitySeason__container__left{
    align-items: flex-start;
    align-self: flex-end;
    gap: 55px;
    min-height: 380px;
    width: 641px;
}

.sectionFunctionalitySeason__container__left__text__buttons .info{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 51px;
    justify-content: center;
}

.sectionFunctionalitySeason__container__right{
    align-items: center;
    min-height: 360px;
    width: 377px;
}

.sectionFunctionalitySeason__container__right__carousel__carousel{
    height: 224px;
    margin-right: 2.25px;
    width: 221px;
}

.arrowNext{
    align-items: flex-start;
    display: flex;
    width: 20px;
}

.arrowPrev{
    align-items: flex-start;
    display: flex;
    width: 20px;
}

