.sectionCategories{
    margin: 0 auto;
    gap: 53px;
    width: 1728px;
}

.sectionCategories__text{
    width: 774px;
    height: 41px;
    flex-shrink: 0;
    margin: 0 auto;
    text-align: center;
}

.sectionCategories__text__title{
    color: $typoColor;
    text-align: center;
    /* H3 */
    font-family: $fontPrincipalFamily;
    font-size: $font-size-xl;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sectionCategories__slider{
    width: 1568px;
    height: 105px;
    flex-shrink: 0;
    margin: 0 auto;
}

.sectionCategories__slider__top{
    width: 1303px;
    height: 103px;
    flex-shrink: 0;
    margin-top: 54px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.sectionCategories__slider__container{
    height: 100px;
    gap: 19px;
    align-items: center;
}

.sectionCategories__img{
    height: 40px;
    width: 33px;
    display: flex;
    justify-content: center;
}

.sectionCategories__img1__hover{
    display: flex;
    justify-content: center;
}

.sectionCategories__slider__texte{
    width: 245px;
    height: 41px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.sectionCategories__slider__texte a{
    color: $typoColor;
    text-align: center;
    /* H5 */
    font-family: $fontPrincipalFamily;
    font-size: $font-size-m;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.sliderBar{
    width: 1568px;
    height: 1px;
    color: $typoColor;
}