.sectionCookease__img{
    height: 117px;
    margin-right: 6.0px;
    margin-top: 113px;
    width: 132px;
}

.sectionCookease__img__text1{
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    gap: 341px;
    height: 57px;
    margin-right: 86px;
    margin-top: 12px;
    min-width: 1171px;
}

.sectionCookease__img__text2{
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 6.0px;
    margin-top: 44px;
    min-height: 72px;
    text-align: center;
    width: 774px;
    font-family: $secondFontFamily;
    font-size: $font-size-m;
}

