.bottomContainer__videoItem{
    align-items: flex-end;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    min-width: 265px;
    border-radius: 42px;
    height: 158px;
    margin-bottom: 0;
    width: 265px;
}