.twelfthExchange_cookease{
    display:block;
}

.twelfthExchange_cookease__left{
    background-color: $typoColorWhite;
    width: 874px;
    display:flex;
    display: inline;
    gap: 35px;
}

.twelfthExchange_cookease__left__text{
    width: 642px;
}

.twelfthExchange_cookease__left__textContainer__text__text{
    color: $typoColor;
    /* H3 */
    font-family: $primaryColor;
    font-size: $font-size-xl;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.twelfthExchange_cookease__left__functionalityContainer{
    width: 126px;
    height: 55px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    display: block;
}

.twelfthExchange_cookease__left__functionalityContainer__img{
    width: 55px;
    height: 55px;
    flex-shrink: 0;
}

.twelfthExchange_cookease__right{
    width: 854px;
    background-color: $primaryColor;
}